{% extends 'index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.6/css/dataTables.dataTables.css" />
<script src="https://cdn.datatables.net/2.0.6/js/dataTables.js"></script>

<style>
  textarea {
    width: 100%;
    padding: 5px;
    border: .5px solid gray;
    border-radius: 5px;
    outline: none;
  }
  .message {
    padding: 10px;
    opacity: .5;
    animation: anim 2s infinite;
  }
  @keyframes anim {
    0% { opacity: .5; }
    100% { opacity: 1; }
  }
  .pagenator {
    text-align: center;
  }
</style>

<div class="">
  <div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
      <div class="card card-rounded">
        <div class="card-body">
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title card-title-dash">Assign Contacts <span class="text-small">({{ contacts_count }} Contacts)</span></h4>
              {% for message in messages %}
              <div class="message {{ message.tags }}">
                <p class="card-subtitle card-subtitle-dash {{ message.tags }}">{{ message }}</p>
                <p class="card-subtitle card-subtitle-dash text-danger">{{ form.errors }}</p>
              </div>
              {% endfor %}
            </div>
            <form method="post">
              {% csrf_token %}
              <div class="row mb-3">
                <div class="col-md-4">
                  <label for="dateInput">Follow Up Date:</label><br>
                  <input type="date" id="dateInput" name="date" class="form-control" required>
                </div>
                <div class="col-md-4">
                  <label for="userSelect">Select Staff:</label><br>
                  <select name="user" id="userSelect" class="form-control" required>
                    <option value="" selected disabled>----------------------------</option>
                    {% for i in users %}
                      {% if i.groups.all.0.name == "sadmin" or i.groups.all.0.name == "staff" %}
                        <option value="{{ i.id }}">{{ i.first_name }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-primary text-white" type="submit"><i class="mdi mdi-account-plus"></i> Sign In To Staff</button>
                </div>
              </div>
          </div>

          <div class="table-responsive mt-1">
            <table class="table select-table">
              <thead>
                <tr>
                  <th>
                    <div class="form-check form-check-flat mt-0">
                      <label class="form-check-label">
                        <input id="select-all" type="checkbox" class="form-check-input"><i class="input-helper"></i>
                      </label>
                    </div>
                  </th>
                  <th>Sl No.</th>
                  <th>Customer</th>
                  <th>Stream</th>
                  <th>Date added</th>
                  <th>Last Updated</th>
                  <th>No. Of Follow Up</th>
                  <th>Status</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts %}
                  <tr>
                    <td>
                      <div class="form-check form-check-flat mt-0">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input contact-checkbox" value="{{ contact.id }}" name="contact_id"><i class="input-helper"></i>
                        </label>
                      </div>
                    </td>
                    <td>{{ forloop.counter0|add:contacts.start_index }}</td>
                    <td>{{ contact.name }} <br> {{ contact.contact_number }}</td>
                    <td>{{ contact.study_stream }} <br> College: {{ contact.college }}</td>
                    <td>{{ contact.added_date }}</td>
                    <td>{{ contact.last_follow_up }}</td>
                    <td>{{ contact.number_follow_up }}</td>
                    <td><div class="badge badge-opacity-warning">{{ contact.follow_up_status }}</div></td>
                    <td><a href="{% url 'ViewContactData' contact.id %}" class="btn btn-outline-dark btn-sm">View</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                {% if contacts.has_previous %}
                  <li class="page-item prev">
                    <a class="page-link" href="?page={{ contacts.previous_page_number }}">
                      <i class="mdi mdi-chevron-left"></i>
                    </a>
                  </li>
                {% endif %}

                {% for page_num in contacts.paginator.page_range %}
                  {% if page_num <= 4 or page_num >= contacts.paginator.num_pages|add:-3 or page_num in contacts.number|add:-2|add:2 %}
                    <li class="page-item {% if page_num == contacts.number %}active{% endif %}">
                      <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                  {% elif page_num == 5 or page_num == contacts.number|add:3 %}
                    <li class="page-item"><span class="page-link">...</span></li>
                  {% endif %}
                {% endfor %}

                {% if contacts.has_next %}
                  <li class="page-item next">
                    <a class="page-link" href="?page={{ contacts.next_page_number }}">
                      <i class="mdi mdi-chevron-right"></i>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const selectAllCheckbox = document.getElementById('select-all');
    const contactCheckboxes = document.querySelectorAll('.contact-checkbox');

    selectAllCheckbox.addEventListener('change', function () {
      const isChecked = this.checked;
      contactCheckboxes.forEach(function (checkbox) {
        checkbox.checked = isChecked;
      });
    });

    contactCheckboxes.forEach(function (checkbox) {
      checkbox.addEventListener('change', function () {
        const allChecked = [...contactCheckboxes].every(function (checkbox) {
          return checkbox.checked;
        });
        selectAllCheckbox.checked = allChecked;
      });
    });

    var today = new Date().toISOString().split('T')[0];
    document.getElementById("dateInput").setAttribute("min", today);
  });
</script>

{% endblock %}
