{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
  .item-container {

    padding: 10px;
  }
</style>
<div class="">
  <div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
      <div class="card card-rounded">
        <div class="card-body">
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title card-title-dash">Contact - {{contact}} </h4>
              <h2>Phone: <span class="text-danger">{{contact.contact_number}}</span> <a
                  href="tel:{{contact.contact_number}}" class="btn btn-outline-primary btn-sm">Call</a></h2>
              <a href="{{previous_url}}" class="nav-link"><h4 class="text-info d-flex align-items-center"><i class="mdi mdi-arrow-left-bold-circle-outline icon-md text-info  align-self-center"></i> Back To Leads</h4></a>

              {% for message in messages %}
              <div class="message {{message.tags}}">
                <p class="card-subtitle card-subtitle-dash {{message.tags}}">{{message}}</p>
                <p class="card-subtitle card-subtitle-dash text-danger">{{form.errors}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div></div>
          <div class="row">
            <div class="col-md-6">
              <div class="item-container">
                <form action="{%url 'UpdateBasicData' contact.id %}" method="post">
                  {% csrf_token %}
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Student Name:</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Name"
                        value="{{contact.name}}" name="name">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Streem:</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Streem"
                        value="{{contact.study_streem}}" name="streem">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Collage:</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value="{{contact.collage}}" id="exampleInputUsername2"
                        placeholder="Collage" name="collage">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Email:</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" value="{{contact.email}}" id="exampleInputUsername2"
                        placeholder="Email" name="email">
                    </div>
                  </div>
                  <button type="submit" onclick="return confirm('Are yor sure want to update date ???')" class="btn btn-info">Update</button>
                </form>
                <div class="buttons mt-3">
                  <i>Change Lead Status: </i><br><br>
                  <a href="{%url 'lead_statusUpdate' contact.id 'Warm Lead' %}" class="btn btn-danger btn-sm">Warm Lead</a>
                  <a href="{%url 'lead_statusUpdate' contact.id 'Hot Lead' %}" class="btn btn-warning btn-sm">Hot Lead</a>
                  <a href="{%url 'lead_statusUpdate' contact.id 'Pending' %}" class="btn btn-info btn-sm">Pending</a>
                  <a href="{%url 'lead_statusUpdate' contact.id 'Converted' %}" class="btn btn-success btn-sm">Converted</a>
                  <a href="{%url 'lead_statusUpdate' contact.id 'Rejected' %}" class="btn btn-light btn-sm">Rejected</a>
                  <a href="{%url 'lead_statusUpdate' contact.id 'Normal' %}" class="btn btn-dark btn-sm">Normal</a>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="container bg-light p-2 mb-3">
                <ul class="list-star">
                  <table>
                    <tr>
                      <td>
                        <li>Data Since:</li>
                      </td>
                      <th> {{contact.added_date}}</th>
                    </tr>
                    <tr>
                      <td>
                        <li><span class="">Last Follow Up:</li>
                      </td>
                      <th>{{contact.last_follow_up}}</th>
                    </tr>
                    <tr>
                      <td>
                        <li>Next Follow Up: </li>
                      </td>
                      <th>{{contact.next_follow_up}} 
                        <form action="{%url 'FollowUpDateUpdate' contact.id %}" method="post">
                          {% csrf_token %}
                          
                          <div class="input-group mb-3">
                            <input type="date" class="form-control" name="date" required placeholder="" id="dateInput">
                            <button class="btn btn-outline-dark btn-sm" type="submit" id="button-addon2">Add Follow up date</button>
                          </div>
                        </form>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <li>Follow Up Started Date:</li>
                      </td>
                      <th>{{contact.follow_up_started_date}}</th>
                    </tr>
                    <tr>
                      <td>
                        <li>Number Of Follow Up:</li>
                      </td>
                      <th>{{contact.number_follow_up}}</th>
                    </tr>
                  </table>
                </ul>
                {% if request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'sadmin' %}
                <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                  Assign To New Staff
                </button>
                {% endif %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Follow Up Staff : <span class="h2 text-primary">{{contact.lead_follow_up.first_name}}</span>

              </div>
              <div class="container bg-light mb-3 p-3">
                <fieldset>
                  <legend>Data Status</legend>
                  <table class="pd-1">
                    <tr>
                      <td>Follow Up status:</td>
                      <td><span class="badge bg-warning"> {{contact.follow_up_status}}</span></td>
                    </tr>
                    <tr>
                      <td>Lead Status:</td>
                      {% if contact.lead_status == 'Warm Lead' %}
                      <td><span class="badge bg-danger">{{contact.lead_status}}</span></td>
                      {% elif contact.lead_status == 'Hot Lead' %}
                      <td><span class="badge bg-warning">{{contact.lead_status}}</span></td>

                      {% elif contact.lead_status == 'Pending' %}
                      <td><span class="badge bg-info">{{contact.lead_status}}</span></td>

                      {% elif contact.lead_status == 'Converted' %}
                      <td><span class="badge bg-success">{{contact.lead_status}}</span></td>

                      {% elif contact.lead_status == 'Rejected' %}
                      <td><span class="badge bg-secondary">{{contact.lead_status}}</span></td>

                      {% else %}
                      <td><span class="badge bg-dark">{{contact.lead_status}}</span></td>

                      {% endif %}
                    </tr>
                  </table>
                  <br>
                  <span>Comments: </span>
                  <p class="p-3 mb-3" style="border: .5px solid gray;border-radius: 6px;">{{contact.last_status}}</p>
                  <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary btn-lg btn-block">
                    <i class="ti-user"></i>
                    Update Status
                  </button>
                 
                  
                
                </fieldset>
                

              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="">
<div class="row flex-grow">
  <div class="col-md-12 col-lg-12 grid-margin stretch-card">
    <div class="card card-rounded">
      <div class="card-body card-rounded">
        <h4 class="card-title  card-title-dash" style="text-decoration: underline;">Recent Followups</h4>

{% for  i in leadcall_status%}
        <div class="list align-items-center border-bottom py-2">
          <div class="wrapper w-100">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <span class="text-small">Date of Follow Up: </span>
                <i class="mdi mdi-calendar text-muted me-1"></i>
                <p class="mb-0 text-small text-muted">{{i.date_of_follow_up}}</p>
              </div>
            </div>
            <p class="mb-2 font-weight-medium">
              Follow Up Status: <span class="text-info h5">{{i.follow_up_status}}</span> 
            </p>
            <p class="mb-2 font-weight-medium">
              Comments: <span class="h5 text-dark">{{i.follow_up_comments}}</span>
            </p>
            <p>
              Next Follow Up Date: <span class="h4">{{i.next_follow_up}}</span>
            </p>
            <div class="item" style="padding: 20px;text-align: right;">
              <span>Follow Up By: </span><span class="text-primary h4"> {{i.follow_up_by}}</span></h6>
            </div>
            
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
      
        <h4 class="card-title">Upadte Call Status For <span class="text-primary">{{contact.name}} </span>Conatct Number: <span class="text-danger text-lg">{{contact.contact_number}}</span> </h4>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form class="form-sample" method="post" action="{%url 'FollowUpUpadte' contact.id %}">
            {% csrf_token %}
            <h6 class="card-description">
              Call Status Update
            </h6>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Next Follow Up</label>
                  <div class="col-sm-9">
                    <input type="date" id="dateInput" name="next_follow_up" class="form-control"/>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Lead Status</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="lead_status" required>
                      
                      <option value="Normal">Normal</option>
                      <option value="RNR">RNR</option>
                      <option value="Not Taken">Not Taken</option>
                      <option value="Not intrested">Not interested</option>
                      <option value="Intrested">Interested</option>
                      <option value="Sligtly Intrested">Slightly Interested</option>
                      <option value="Call Back">Call Back</option>
                      
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Follow Up Comment</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" name="followupcomment" style="height: 200px !important;" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </form>

      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Assign New Staff</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <form action="{%url 'AssignContactsSingle' contact.id %}" method="post">
        {% csrf_token %}
        <select name="user" id="" required class="form-control">
          <option value="" selected disabled>---------------------------</option>
          {% for i in users %}
          {% if i.groups.all.0.name == 'sadmin' or i.groups.all.0.name == 'staff' %}
          <option value="{{i.id}}">{{i.first_name}}</option>
          {% endif%}
          {% endfor %}
        </select>
        <br><br>
        <button type="submit" class="btn btn-primary">Assign To Staff</button>

       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  // Get today's date
  var today = new Date().toISOString().split('T')[0];
  
  // Set the min attribute of the date input field to today's date
  document.getElementById("dateInput").setAttribute("min", today);
</script>

{% endblock %}